// font family
$font-stack: "Roboto", sans-serif;

// Primary color
$primary-color: #18208d;
$primary-variant: darken(saturate(adjust-hue($primary-color, 4), 29.09), 13.92);
$primary-color--accent: #fff;
$black: #000;
$black-variant: #373737;
$highlight: #faeec6;

// Secondary colors
$secondary: #006dd2;
$secondary-variant: darken(saturate(adjust-hue($secondary, 2), 5.19), 10.98);
$border-color: #e5e5e5;

// secondary font
$secondary-text-gray: #c4c4c4;
$secondary-color--accent: #fff;

// Surface
$surface: #fff;
$surface-variant: #f1f1f1;

// Surface Fonts
$font-color: #858585;
$icons-color: #b4b4b4;
$surface-headings-color: #bcbcbc;
$surface-active-color: #464646;

//pro
$pro-color: #e8d568;
$red: #ed3535;

//save
$green: #31d783;
$discard: #e35364;

//alerts
$success: #28a745;
$info: #2ea1f8;
$warning: #eec643;
$error: #e84655;

//pb-interactions
$section-border-color: #9aa0ec;
$section-color: #404be3;
$column-color: #eec643;
$column-border-color: #faeec6;
$elements-toolbox-color: #06bee1;
$elements-toolbox-border-color: #b4ebf6;
