.zb-el-tabs {
	&-nav {
		padding: 0;
		margin: 0;
		list-style: none;

		&-title {
			display: inline-block;
			padding: 8px 20px;
			margin: 0;
			color: #858585;
			font-size: 15px;
			font-weight: 500;
			border: 1px solid #e5e5e5;
			border-right: none;
			border-bottom: none;
			transition: color .25s linear;
			cursor: pointer;

			&:last-child {
				border-right: 1px solid #e5e5e5;
			}

			&:focus, &:hover {
				color: #464646;
			}

			&.zb-el-tabs-nav--active {
				position: relative;
				color: #464646;

				&:after {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: #fff;
				}
			}
		}
	}

	&-content {
		padding: 15px 20px;
		border: 1px solid #e5e5e5;

		 > div {
			position: absolute;
			left: -99999px;
			overflow: hidden;
			opacity: 0;
			visibility: hidden;

			&.zb-el-tabs-nav--active {
				position: relative;
				left: 0;
				overflow: auto;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&--vertical {
		display: flex;

		.zb-el-tabs-nav {
			width: 30%;
			max-width: 100%;

			li {
				display: block;
				border-right: none;
				border-bottom: none;
				border-left: 1px solid #e5e5e5;

				&:last-child {
					border-right: none;
					border-bottom: 1px solid #e5e5e5;
				}

				&.zb-el-tabs-nav--active {
					border-top: 1px solid #e5e5e5;
					border-right: none;

					&:after {
						top: 0;
						right: -2px;
						bottom: auto;
						left: auto;
						width: 4px;
						height: 100%;
					}
				}
			}
		}

		.zb-el-tabs-content {
			width: 70%;
			max-width: 100%;
		}
	}

	&--stacked {
		display: flex;
		flex-direction: column;

		.zb-el-tabs-nav {
			width: 100%;

			li {
				display: block;
				border-top: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
				border-bottom: none;

				&:last-child {
					border-bottom: none;
				}

				&.zb-el-tabs-nav--active {
					border-top: 1px solid #e5e5e5;

					&:after {
						display: none;
					}
				}
			}
		}

		.zb-el-tabs-content {
			width: 100%;
			max-width: 100%;
		}
	}
}
