.zb-el-testimonial {
	font-family: roboto;

	&__stars {
		color: #f93;
	}

	&__user {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__userInfo {
		display: flex;
		flex-direction: column;

		&-name {
			margin-bottom: 0;
			color: #000;
			font-size: 16px;
			font-weight: 500;
		}

		&-description {
			color: #c4c4c4;
			font-size: 14px;
		}
	}

	&__userImage {
		width: 68px;
		height: 68px;
		margin-right: 15px;
		background-clip: content-box;
		border-radius: 50%;

		object-fit: cover;
	}

	&-content {
		color: #c4c4c4;

		& p:last-child {
			margin-bottom: 0;
		}
	}

	&.-position--top {
		.zb-el-testimonial__userImage {
			width: 68px;
			height: 68px;
			margin-right: 0;
			margin-bottom: 15px;
			background-clip: content-box;
			border-radius: 50%;

			object-fit: cover;
		}
	}

	&.-position--right {
		.zb-el-testimonial__user {
			flex-direction: row-reverse;
		}

		.zb-el-testimonial__userImage {
			margin-right: 0;
			margin-left: 15px;
		}
	}

	&.-position--left {
		.zb-el-testimonial__user {
			flex-direction: row;
		}
	}

	&.-align--right {
		text-align: right;

		.zb-el-testimonial__user {
			justify-content: flex-end;
		}

		&.-position--right {
			.zb-el-testimonial__user {
				justify-content: flex-start;
			}
		}
	}

	&.-align--center {
		text-align: center;

		.zb-el-testimonial__user {
			justify-content: center;
		}
	}

	&.-align--left {
		text-align: left;

		&.-position--right {
			.zb-el-testimonial__user {
				justify-content: flex-end;
			}
		}
	}
}
