# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE
.cache/
Debug/
debug/
Release/
release/
.vscode/launch.json

# Package managers
/composer.lock
/vendor/
/node_modules/

# Build
*.zip
/dist/
