.hg-video-bg {
	&__controls {
		&[data-position="center"] {
			text-align: center;
		}
		&[data-position="right"] {
			text-align: right;
		}
		&[data-position="left"] {
			text-align: left;
		}
	}

	&__controls-button {
		&--play, &--mute {
			&:before {
				@include zion-font;
			}
		}
		&--play {
			&:before {
				content: "\e801";
			}
		}
		&--mute {
			&:before {
				content: "\e803";
			}
		}
	}

	&--muted {
		.hg-video-bg__controls-button--mute {
			&:before {
				content: "\e802";
			}
		}
	}

	&--playing {
		.hg-video-bg__controls-button--play {
			&:before {
				content: "\e800";
			}
		}
	}
	&--contain {
		iframe, video {
			object-fit: contain;
		}
	}
}
