.zb {
	img {
		display: inline-block;
		max-width: 100%;
		vertical-align: top;
	}

	iframe {
		max-width: 100%;
		border: none;
	}

	video {
		width: 100%;
		height: auto;
	}

	& * {
		box-sizing: border-box;
	}


	&-element {
		position: relative;
	}

	p:last-child {
		margin-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		padding-top: 0;
		margin-top: 0;
	}

	b, strong {
		font-weight: bold;
	}
}

.ajs__element {
	visibility: hidden;

	&.animated {
		visibility: visible;
	}
}
body.post-template-zion_builder_blank, body.page-template-zion_builder_blank, body.znpbwpeditorid {
	background: transparent;
}
