.zb-anchorPoint {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	background-color: #f1f1f1;

	& > span {
		color: #858585;
		font-family: Roboto;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
	}
}
