.zb-el-zionSeparator {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	margin: 10px 0;

	&-item {
		display: flex;
		width: 100%;
		border-top: 1px solid;

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		&--size {
			width: 100%;
			border-top-width: 5px;
		}
	}

	&-icon {
		position: relative;
		padding: 0 20px;

		&-line {
			display: block;
			width: 50%;

			&-one {
				left: 0;
			}

			&-two {
				right: 0;
			}
		}
	}
}
