.zb-el-iconBox {
	display: flex;

	&--icon-top {
		flex-direction: column;
	}

	&--icon-left {
		flex-direction: row;

		.zb-el-iconBox-iconWrapper {
			margin-right: 25px;
		}
	}

	&--icon-right {
		flex-direction: row-reverse;

		.zb-el-iconBox-iconWrapper {
			margin-left: 25px;
		}
	}
}

.zb-el-iconBox-text {
	flex: 1;
}

.zb-el-iconBox-spacer {
	display: block;
	width: 25px;
	height: 25px;
}
