.znpb-fancy-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.znpb-fancy-scrollbar {
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;

	.znpb-fancy-scrollbar &::-webkit-scrollbar-thumb {
		display: block;
		background: var(--zb-surface-lighter-color);
	}
}

/* Track */
.znpb-fancy-scrollbar::-webkit-scrollbar-track {
	display: block;
	background: transparent;
}

/* Handle */
.znpb-fancy-scrollbar::-webkit-scrollbar-thumb {
	background: transparent;
}


