.znpb-admin {
	direction: rtl;
	unicode-bidi: embed;
}

.znpb-admin-content > .znpb-admin-side-menu > .znpb-admin-side-menu__item::after {
	right: auto;
	left: 1px;
	transform: rotate(135deg);
}
.znpb-admin-replace__icon {
	transform: rotate(180deg);
}

.znpb-admin-single-template__actions {
	justify-content: flex-start;
	text-align: left;
}

.znpb-admin-single-template__action.znpb-insert-icon-pop, .znpb-admin-single-template__action.znpb-edit-icon-pop, .znpb-admin-single-template__action.znpb-delete-icon-pop, .znpb-admin-single-template__action.znpb-export-icon-pop {
	margin-right: 0;
	margin-left: 10px;
}
.znpb-admin-single-template__action.znpb-delete-icon-pop:last-of-type {
	margin-left: 0;
}

.znpb-admin-single-template__shortcode .zion-input__suffix {
	padding-right: 0;
	padding-left: 14px;
}

.znpb-admin-templates-actions .znpb-button {
	float: left;
}

.znpb-button:last-child {
	margin-left: 0;
}

.znpb-admin-user-specific-actions .znpb-button {
	float: left;
}

.znpb-admin {
	&__header {
		&-logo {
			img {
				margin-right: 0;
				margin-left: 10px;
			}
			span {
				margin-right: 0;
				margin-left: 5px;

				&:last-child {
					margin-left: 0;
				}
			}

			.znpb-label {
				font-size: 10px;
			}

			&-version {
				padding: 5px 0 4px 6px;
			}
		}

		&-actions {
			.znpb-button--secondary {
				margin-right: 0;
				margin-left: 10px;
			}
			.znpb-editor-icon-wrapper {
				margin-right: 0;
				margin-left: 6px;
			}
		}

		&-menu {
			margin: 0;
			margin-right: -20px;
			margin-left: 0;
		}
	}

	&-notices-wrapper {
		right: auto;
		left: 50px;
	}
}


.znpb-single-role-modal-title-wrapper {
	margin-right: 0;
	margin-left: 20px;
}
