#znpb-preview-content-area {
	direction: rtl;
	unicode-bidi: embed;
}

// Element

.znpb-element-utilities__margin-top-helper, .znpb-element-utilities__margin-bottom-helper {
	right: 0;
	left: auto;
}

.znpb-element-utilities__margin-left-helper {
	right: 0;
	left: auto;
}
.znpb-element-utilities__margin-right-helper {
	right: auto;
	left: 0;
}
.znpb-element-utilities__options {
	&-wrapper {
		right: 0;
		left: auto;
	}
}

// Element toolbox

.znpb-element-toolbox {
	&__add-element-button {
		right: 50%;
		left: 0;
		transform: translate(50%, -50%);

		&--section {
			right: 50%;
			left: 0;
		}
	}
}

// Top Bar toolbox

.znpb-editor-toolbox__top-bar-wrapper {
	right: auto;
	left: 0;
}

.znpb-editor-toolbox__top-bar {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}


.znpb-preview-page-wrapper > .znpb-element__wrapper > .znpb-element-toolbox > .znpb-editor-toolbox__top-bar-wrapper {
	right: auto;
	left: 34px;
}

// ad Elements popup
.znpb-add-elements__filter-category {
	margin-left: 0;
}

// Search element

body .zion-input__suffix-icon {
	margin-right: 0 ;
	margin-left: 11px;
}
