/* style default elements */
html, body, .znpb-main-wrapper {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	font-family: $font-stack;
	font-size: 14px;
}

body * {
	box-sizing: border-box;
}

.znpb-main-wrapper {
	display: flex;
	flex-direction: column;
	color: $font-color;
	font-family: $font-stack;
	font-size: 13px;
	line-height: 1;

	a, a:hover, a:focus, a:visited {
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		line-height: 1;
	}

	p {
		padding: 0;
		margin: 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.7;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	img {
		max-width: 100%;
	}

	.znpb-button {
		// margin: 0;
		// color: $primary-color--accent;
		font-family: $font-stack;
		font-size: 13px;
		text-decoration: none;

// background-color: $surface-active-color;
		// border: none;

		-webkit-appearance: none;
		   -moz-appearance: none;
	}

	b, strong {
		font-weight: 700;
	}

	textarea {
		min-width: 100%;
		min-height: 140px;
		padding: 16px 14px;
		color: $font-color;
		font-family: $font-stack;
		background-color: $surface;
		border: 0;
		border-radius: 3px;

		&:focus {
			outline: 0;
		}
	}
}

.znpb-main-wrapper, .znpb-main-wrapper * {
	box-sizing: border-box;
}

.znpb-editor-icon-wrapper {
	font-size: 14px;
}


/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	word-wrap: normal !important;
	border: 0;
}

.znpb-popper-trigger {
	display: inline-flex;
	cursor: pointer;
}
