.znpb-utility {
	/**
	 * Mouse cursor utility classes
	 */
	&__cursor--pointer {
		cursor: pointer;
	}

	&__text--elipse {
		overflow: hidden;
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	/**
	 * Flex related utility classes
	 */
	&__flex {
		display: flex;

		&--center {
			justify-content: center;
			align-items: center;
		}

		&--end {
			justify-content: flex-end;
		}
	}

	/**
	 * Paddings related classes
	 */
	&__c-pointer {
		cursor: pointer;
	}
	/**
	 * text center
	 */
	&-txt-center {
		text-align: center;
	}
}
