@import "./utils/media.scss";
$columns: 12;

/**
	COLUMNS
*/
@mixin generate-column( $size, $columns: 12 ) {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	max-width: percentage($size / $columns);
}

@mixin generate-offset( $size, $columns: 12 ) {
	margin-left: percentage($size / $columns);
}

@mixin generate-offsets($offset: "") {
	@for $size from 0 through ($columns - 1) {
		@if not ($size == 0) {
			// $suffix: md;
			.zb-column-offset#{$offset}--#{$size} {
				@include generate-offset($size);
			}
		}
	}
}

@mixin generate-columns() {
	@include generate-offsets();
	// generate-column
	@for $size from 1 through $columns {
		.zb-column--#{$size} {
			@include generate-column($size);
		}
	}

	.zb-column--1of5 {
		flex: 0 0 auto;
		width: 100%;
		max-width: 20%;
	}

	// Generate css for all media queries
	@each $breakpointId, $breakpointValue in $breakpoints {
		$suffix: "--#{$breakpointId}";

		@media (max-width: $breakpointValue) {
			@if ($breakpointId == "sm") {
				.zb-column {
					@include generate-column(12);
				}

				.zb-column--1of5 {
					flex: 0 0 auto;
					width: 100%;
					max-width: 100%;
				}
			}

			@for $size from 1 through $columns {
				.zb-column#{$suffix}--#{$size} {
					@include generate-column($size);
				}
			}

			.zb-column#{$suffix}--1of5 {
				flex: 0 0 auto;
				width: 100%;
				max-width: 20%;
			}

			@include generate-offsets( $suffix )
		}
	}
}

.zb {
	// Sections
	&-section {
		position: relative;
		display: flex;
		justify-content: center;

		&__innerWrapper {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			width: 100%;
			max-width: 1120px;
		}
	}

	/**
	 * Columns
	 */
	&-column {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

@include generate-columns();
