.znpb-mask {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: auto;
	color: #fff;
	line-height: 0;

	svg.zion-icon.zion-svg-inline {
		display: block;
		width: 100%;
		height: 100%;
	}

	.zion-shape-double {
		path:first-child {
			opacity: .6;
		}
	}
}

.-mask-position--top {
	.znpb-mask svg {
		transform: rotate(180deg);
	}
}
