@font-face {
	font-family: "zion";
	font-style: normal;
	font-weight: normal;

	src: url("zionicons/zion.eot?76473992");
	src: url("zionicons/zion.eot?76473992#iefix") format("embedded-opentype"),
	url("zionicons/zion.woff2?76473992") format("woff2"),
	url("zionicons/zion.woff?76473992") format("woff"),
	url("zionicons/zion.ttf?76473992") format("truetype"),
	url("zionicons/zion.svg?76473992#zion") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zion';
    src: url('../font/zion.svg?2326321#zion') format('svg');
  }
}
*/
@mixin zion-font {
	display: inline-block;
	width: 1em;
	margin-right: .2em;

/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	font-family: "zion";
	font-style: normal;

/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	font-weight: normal;

/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;

/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
[class^="zion-"]:before, [class*=" zion-"]:before {
	@include zion-font;
}

.zion-pause:before {
	content: "\e800";
} /* '' */
.zion-play:before {
	content: "\e801";
} /* '' */
.zion-sound-off:before {
	content: "\e802";
} /* '' */
.zion-sound-on:before {
	content: "\e803";
} /* '' */
.zion-play-filled:before {
	content: "\e804";
}
