# This is a basic workflow to help you get started with Actions

name: TEST

on: pull_request

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  runPHPCSInspection:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install WP-CLI
        run: |
             mkdir -p ~/bin
             wget -O ~/bin/wp "https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar" \
               && chmod a+x ~/bin/wp
      - name: i18n check
        run: |
             ~/bin/wp i18n make-pot includes/ languages/zionbuilder.pot --skip-js \
               --slug="zionbuilder" \
               --package-name="Zionbuilder" \
               --headers='{"Report-Msgid-Bugs-To": "https://wordpress.org/plugins/search/zionbuilder/", "Language-Team": "Hogash <hello@hogash.com>", "POT-Creation-Date": "1970-01-01 00:00+0000"}' \
               && git diff --exit-code
      - name: Set Composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-dir)"
      - name: Cache Composer dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install NPM dependencies
        run: npm install
      - name: Check Composer configuration
        run: composer validate --strict
      - name: Install Composer dependencies
        run: composer install
      - name: Check PHP syntax
        run: find zionbuilder.php includes/ -type f -name '*.php' -print0|xargs -0 -L1 -P4 -- php -l
      - name: PHPCS check
        uses: chekalsky/phpcs-action@v1
        with:
          phpcs_bin_path: './vendor/bin/phpcs'
      - name: PHPStan check
        run: vendor/bin/phpstan analyze --level=5
